input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="email"], input[type="url"], textarea {
    -moz-box-sizing: content-box;
}

#datepicker {
	width: 214px;
	display: inline-block;
	vertical-align: middle;
}

.newsman-bcst-period-form,
.newsman-bcst-period-form .inline {
	display: inline-block;
}


#ui-datepicker-div {
	display: none;
}

.multis {
	margin: 0;
}

.multis-items > li {
	padding: 0 3px;
}

.multis-items {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	border-color: #DFDFDF;
	background-color: white;  

	width: 100%;

	display: inline-block;
	/*padding: 4px;*/
	margin-bottom: 9px;
	font-size: 13px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;		
}

.multis-items:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}


.fcbkcomplete input,
.fcbkcomplete input:focus {
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: thin dotted \9;	
}


#tab-broadcast-general h4 input[type="checkbox"] {
	vertical-align: text-top;
}


#tab-broadcast-general label.radio input[type="radio"] {
	vertical-align: baseline;
	display: inline-block;
	float: none;	
}

#newsman-bcst-start-date {
	vertical-align: baseline;
	margin-left: 5px;
	display: inline-block;
}

.newsman-tbl-controls {
	margin: 18px 0;
}

.newsman-tbl-controls [class*="span"]:first-child {
	margin-left: 0;
}

.newsman-tbl-controls .btn-group {
	display: inline-block;
	vertical-align: middle;
}

.newsman-tbl-controls .pagination {
	margin: 0;
	display: inline-block;
	vertical-align: middle;	
}

.newsman-tbl-controls .action-group {
	margin: 0 3px; 
	display: inline-block; 
	vertical-align: middle;
}

/* form tweak */ 
.wp_bootstrap .controls.inline > .radio,
.wp_bootstrap .controls.inline > .checkbox {
	padding-top: 5px;
	padding-right: 5px;
}

.controls.inline label {
	display: inline-block;
	vertical-align" middle;
}

.controls label {
	padding-top: 5px;
}

/*	----		*/


.blank-row {
	text-align: center !important;
	vertical-align: middle !important;
	height: 50px !important;
	background: transparent !important;
}

.blank-row img {
	vertical-align: middle;
	margin-right: 5px;
}

.gs-fixed {
	position: fixed;
	width: 400px;
	top: 10px;
	left: 50%;
	margin-left: -200px;
	z-index: 999999;
}

.subsubsub a {
	cursor: pointer;
}

.subsubsub a.current:hover,
.subsubsub a.current {
	color: black !important;
	text-decoration: none;	
	cursor: default;
}

.check-column {
	width: 15px;
}

.newsman-list-tips li {
	margin-bottom: 10px;
}


.wp_bootstrap .checkbox {
	background: transparent;
}

.wp_bootstrap fieldset {
	padding-left: 1em !important;
	margin-bottom: 1em;
}

.wp_bootstrap fieldset legend {	
	margin-bottom: 1em;
}

.wp_bootstrap .span4 p a {
	color: #08C !important;
}

.wp_bootstrap select.mini-select {
	display: inline-block !important;
	height: 18px !important;
	line-height: 18px !important;
	vertical-align: text-top !important;
	font-size: 11px !important;
}

.wp_bootstrap select.mini-select.span1 {
  width: 60px;
  margin-bottom: 0;
}
.wp_bootstrap select.mini-select.span2 {
  width: 120px;
  margin-bottom: 0;
}

.h-toolbar {
	margin-bottom: 1em;
}


.h-toolbar > * {
	display: inline-block;
}

.h-toolbar > :first-child {
	margin-right: 1em;
}

.h-toolbar > .btn-group,
.h-toolbar > .btn {
	vertical-align: middle;
	margin-bottom: 0.5em;
}


/*			FORM BUILDER		*/

.newsman-form-builder .newsman-form-item {
	position: relative;
	paddd
}

.newsman-form-builder .newsman-form-item .close {
	visibility: hidden;
	position: absolute;
	top: .5em;
	right: .5em;
}

.newsman-form-builder .newsman-form-item:hover {
	border-color: #a47e3c;
	-webkit-box-shadow: 0 0 6px #dbc59e;
	-moz-box-shadow: 0 0 6px #dbc59e;
	box-shadow: 0 0 6px #dbc59e;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.newsman-form-builder .newsman-form-item:hover .close,
.newsman-form-builder .newsman-form-item.selected .close {
	visibility: visible;
}

.newsman-form-builder .newsman-form-item.selected {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
	-moz-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
	box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}



.newsman-form-builder .newsman-form-item {
	padding: 1em !important;
}

.newsman-form-builder .checkbox {
	background: transparent;
}


.newsman-field-options {
	display: block;
}


.newsman-field-options-radio .options label {
	position: relative;
	padding: 7px 25px 6px 26px;

	-moz-border-radius: 3px;
	-webmkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.newsman-field-options-radio .options label i {
	visibility: hidden;
	position: absolute;
	top: .7em;
}

.newsman-field-options-radio .options .newsman-remove-option {
	right: 10px;	
}

.newsman-field-options-radio .options label:hover,
.newsman-field-options-radio .options label.selected {
	background: #ecb694;
	background: rgba(214, 85, 34, 0.4 );	
}



.newsman-field-options-radio .options label:hover i {
	visibility: visible;
}



#newsman-mail-delivery {
	position: relative;
}

#newsman-advice-use-smtp {
	position: absolute;
	right: 19px;
	top: 19px;
	width: 250px;
}

#newsman_feed_limit {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
}


/**********/

#newsman-modal-add-posts {
	max-height: 600px;
}

#newsman-search {
	width: 520px;
}

#newsman-content-type {
	display: inline-block;
	vertical-align: baseline;

	font-size: 13px;
	line-height: 18px;

	margin-bottom: 0;
}

#posts-counter {
	display: block;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 150px;
	text-align: right;	
}

#newsman-bcst-posts-pv {
	clear: both;
	border: 1px solid #E3E3E3;		
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#newsman-bcst-posts {
	overflow-y: auto;
	position: relative;
	height: 200px;
}

#newsman-bcst-posts .stub-wrap {
	width: 100%;
	height: 100%;
	display: table;
}


#newsman-bcst-posts .stub {
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.newsman-bcst-topbar {
	background:#DFDFDF url(../js/images/gl-cal-hgrad.png) repeat-x scroll 0 0;
	margin:0;
	padding: 8px 10px;
	overflow: hidden;
	box-shadow: inset 0 -1px 5px white;
	border-bottom: 1px solid #CCC;
	position: relative;
}

#newsman-btn-compose-bcst {
	position: absolute;
	top: 1em;
	right: 1em;
}

.newsman-bcst-topbar select {
	background: #F6F6F6;	
}

.newsman-bcst-topbar label .text {
	width: 85px;
	display: inline-block;
}

.newsman-bcst-topbar label.pad input[type="checkbox"] {
	margin-left: 103px;
}


.newsman-bcst-topbar .hasDatepicker {
	margin-left: 5px;
	vertical-align: baseline !important;
}



.newsman-bcst-post {
	padding: 8px 10px;
	background: #F9F9F9;
	border-bottom: 1px solid #E3E3E3;
	cursor: pointer;
}

.newsman-bcst-post.active {
	background: #D3EFFF;
	border-color: #90D7FF;
}




.newsman-bcst-post-hdr {
	font-weight: bold;	
	display: block;
}

.newsman-bcst-post-hdr .newsman-title {	
	color: #21759B;
	
}

.newsman-bcst-post-hdr .newsman-date {
	display: block;	
}

.newsman-bcst-post-hdr .icon16 {
	margin-top: -5px;
	height: 4em;
	margin-right: 4px;	
}

/* modal dialogs */

.modal-body.scrollable {
	overflow-y: auto;
}

.modal-loading-block {
	float: left;
	vertical-align: middle;
	line-height: 32px;
}

.modal-loading-block img {
	float: left;
	margin-right: 5px;
}

/**   templates page ***/

.tpl-actions .btn {
	/*width: 150px;*/
	text-align: left;
	margin-bottom: 0.5em;
}

#newsman-tpl-edit iframe {
	border: 1px solid #DADADA;
}

#newsman-modal-new-template label {
	font-weight: bold;
}

#ed-tpl-name {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 29px;
}

.tpl-buttons {
	overflow: hidden;
	position: relative;
}

.tpl-buttons table {
	width: 100%;
}

.tpl-btn {
	height: 72px;
	min-width: 72px;

	border: 1px solid #DADADA;
	border-radius: 5px;
	width: auto;
	padding: 2px;	

	cursor: pointer;	

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );	
}

.tpl-btn:hover,
.tpl-btn.active {
/*	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );*/
background: rgb(246,248,249);
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
background: linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );	
}

.tpl-btn.active {
	border-color: #A2A2A2;
}

.tpl-btn > div {
	padding-left: 70px;
}

.tpl-btn h1,
.tpl-btn h2,
.tpl-btn h3,
.tpl-btn h4 {
	padding-left: 10px;
}

.tpl-btn i {
	height: 70px;	
	width: 70px;
	display: block;
	background: url(../img/tplicons.png) 0 0 no-repeat;
	float: left;
}

.tpl-btn i.simple {	
	background-position: 0 0;
}

.tpl-btn i.col2 {	
	background-position: -70px 0;
}

.tpl-btn i.col3 {	
	background-position: -140px 0;
}

.tpl-btn i.gallery {	
	background-position: -210px 0;
}



/*****   colors **********/ 

.newsmanColorUNC { color: orange; }
.newsmanColorUNS { color: red; }
.newsmanColorCON { color: green; }


/* 		qq upload list	*/

/*.qq-upload-success::before {
	content: '\2713\0020';
	color: green;
	font-weight: bold;	
	padding-right: 5px;
}*/

#upload-list-wrap {
	max-height: 285px;
	overflow-y: auto;
}

#file-import-settings {
	height: 285px;
	overflow-x: auto;
}

#file-import-settings .import-form-info {
	margin-top: 137px;
}

.neo-upload-list li a {
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.neo-upload-list li a .progress {
	margin: 0;
	vertical-align: middle;
	margin-top: 2px;
	height: 5px;	
}



#newsman-modal-bulk-unsubscribe textarea {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	
}

.newsman-bcst-load-button {
	text-align: center;
	cursor: pointer

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );	
}

.newsman-bcst-load-button > h3 {
	color: #867F7F;
	cursor: pointer;
	text-shadow: 0 1px white;
}

.newsman-bcst-load-button:hover > h3 {
	color: #7D85C0;
}



#newsman-add-option {
	margin-bottom: 0.5em;
}

.dropdown-menu a {
	cursor: pointer;
}


#select-list {
	display: inline-block;
	line-height: .8em;
	margin: 0 0 0 10px;
	vertical-align: middle;
}

#newsman-lists {
	width: auto !important;
	margin: 0 !important;
	display: inline-block !important;
	vertical-align: middle !important;
}

#newsman-modal-create-list .modal-body {
	height: 50px;
}

#new-list-name {
	width: 97%;
	position: relative;
	top: 50%;
	margin-top: -14px;
}

#import-form-titles h4 {
	border-bottom: 1px solid #EEE;
	margin-bottom: 9px;
}

#lbl-uns-from-all {
	float: left;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
}

	#lbl-uns-from-all input[type="checkbox"] {
		float: none;
		display: inline-block;
		vertical-align: baseline;
	}

#import-list-name {
	color: #006DCC;
}


select.map-select {
	width: auto;
}

#newsman-modal-import {
	width: 900px;
	margin-left: -450px;
}

.import-controls {
	margin: 10px 0;
}

.import-controls label {
	line-height: 37px;
}

.import-controls input[type="checkbox"] {
	float: none !important;
	display: inline-block !important;
}

#tbl-field-map th {
	vertical-align: middle;
}

#tbl-field-map select {
	display: inline-block;
	margin: 0;
}

#tbl-field-map tbody.skip-first-row tr:first-child {
	color: #C2C2C2;
}


.form-line {
	line-height: 18px;
	margin-bottom: 10px;
	display: inline-block;
}

.form-line input,
.form-line select {
	margin-bottom: 0;
}


.ext-form-block {

}

.ext-form-block h3:first-child {
	margin-top: 16px;	
}

.ext-form-block textarea {
	width: 100%;
	height: 100px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


#import-files-list a {
	position: relative;`
}

#import-files-list a > i {
	visibility: hidden;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -7px;	
	opacity: 0.4;
}

#import-files-list a:hover > i {
	visibility: visible;	
}

#import-files-list a > i:hover {
	opacity: 1;
}

.newsman-editor-dlg-close {
	position: absolute;
	right: -18px;
	top: -18px;
	color: white;
	font-size: 19px;
	cursor: pointer;
	text-shadow: 0 0 5px black;
}

.newsman-editor-dlg-close:hover {
	text-shadow: 0 0 8px red;
	color: #FCDDCF;
}


.gs-loading {
	position: fixed;
	top: 50%;	
	left: 50%;
	margin: -16px 0 0 -50px;	

	background: rgba(0, 0, 0, 0.78);
	overflow: hidden;
	width: 150px;
	padding: 10px;
	height: 32px;	

	color: #9F9F9F;
	line-height: 35px;
	vertical-align: middle;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.gs-loading img {
	float: left;
	margin-right: 10px;
}

.gs-loading span {
	position: absolute;
	top: -1px;
	left: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	/*text-shadow: 0 0 2px white;*/
	line-height: 32px;
}

.newsman-dboard-summary td:first-child {
	text-align: left;
}

.newsman-tbl-emails-status {
	border-bottom: 1px dashed;
	cursor: pointer;
}

#newsman-ap-shortcodes li {
	margin-bottom: .5em;
}

.common-footer {
	margin-top: 2em;
	border-top: 1px dotted #DADADA;
	height: 40px;
	line-height: 40px;
}

.common-footer
.buttons > div {
	display: block;
	float: left;
	margin-right: 1em;
	width: 80px;
	vertical-align: baseline;
}

.common-footer
.buttons
.fb_iframe_widget span {
	vertical-align: baseline !important;
}



