<p>כתובת דואר אלקטרוני זאת נרשמה ונבדקה והיא בטוחה, אם לא קבלת הודעות מאיתנו נא בדוק את מחיצת דואר הזבל</p>
<p>נא עקוב אחר הכללים הבאים [newsman me="email"] כדי להבטיח קבלת דואר אלקטרוני מאת</p>
<p>פתח את תוכנת הדואר אלקטרוני שלך או התחבר לתיבה שלך ברשת האינטנרט.</p>
<p><strong>צור פילטר לשמירת ההודעות מאיתנו במחיצת הדואר הנכנס בתיבת הדואר אלקטרוני שלך</strong></p>
<p> <strong>:מאת</strong> [newsman me="name"] השדה תמיד יהיה<br>
 <strong>:כתובת הדואר אלקטרוני</strong> [newsman me="email"]</p>
<p><strong>אם ההודעות מאיתנו יעברו למחיצת הזבל או הספאם</strong></p>
<p>פתח וסמן את ההודעות מאיתנו על ידי הסימון<br>
והכפתור הרשום "זה לא זבל" וזאת הודעה תקינה</p>
<p><strong>הוסף את כתובת הדואר אלקטרוני שלנו לספר הכתובת שלך או לרשימת החברים שלך</strong></p>
<p>פתח את ספר הכתובות שלך או את רשימת החברים שלך<br>
הוסף את פרטי הקשר שלנו כפי שרשום מטה<br>
הקש "הוסף" או "אשר" והמשך</p>