
<head>
<style type="text/css">
.auto-style1 {
	direction: ltr;
}
</style>
</head>

<h2 class="auto-style1">כמעט סיימת, נא הפעל את המנוי שלך</h2>
<h3 style="color: #ff0000;">נשלחה אלייך הודעת דואר אלקטרוני ובה קישור לאישור המנוי שלך</h3>
<p><strong>תקיש על הקישור לאישור המנוי</strong> כדי להפעיל את המנוי שלך פתח את ההודעה שנשלחה אלייך והקש על הקישור לאישור המנוי. לא תוכל לקבל הודעות מהמנוי שלך עד אשר </p>
<p>אם לא קבלת את בקשת האישור מאיתנו, מלא את טופס הבקשה שוב ושלח אותה אלינו</p>
