<h2>Dziękujemy za potwierdzenie Twojej subskrypcji na [newsman wp="blogname"]!</h2>
<h3>Powitalny e-mail jest już w drodze do Ciebie!</h3>
<p>Aby upewnić się, że otrzymasz e-maile od [newsman me="email"], postępuj zgodnie z tymi prostymi wskazówkami:</p>
<p>Otwórz swój program pocztowy lub zaloguj się do swojego konta pocztowego na stronie internetowej.</p>
<p><strong>Utwórz filtr, który umieści nasze e-maile w Twojej skrzynce odbiorczej wpisując w odpowiednie pola:</strong></p>
<p> <strong>Od:</strong> [newsman me="name"]<br>
 <strong>Adres e-mail: </strong> [newsman me="email"]</p>
<p><strong>Jeśli nasz e-mail trafia do spamu:</strong></p>
<p>Kliknij na nasz e-mail, aby go zaznaczyć<br>
Kliknij przycisk "To nie jest spam"</p>
<p><strong>Dodaj nasz adres e-mail do swojej Książki adresowej lub Listy znajomych:</strong></p>
<p>Otwórz Książkę adresową lub Listę znajomych<br>
Dodaj nasze dane kontaktowe, wymienione powyżej<br>
Kliknij przycisk "Dodaj" lub "Zapisz"</p>
[newsman badge2]