<h2>Thank You For Confirming Your Subscription To [newsman wp="blogname"]!</h2>
<h3>A welcome e-mail is already on its way to you!</h3>
<p>To make sure you get emails from [newsman me="email"], follow these simple guidelines:</p>
<p>Open your email program or log-in to your web email service.</p>
<p><strong>Create a filter that will place our emails in your Inbox:</strong></p>
<p> <strong>From:</strong> field will always be [newsman me="name"]<br>
 <strong>Email address:</strong> [newsman me="email"]</p>
<p><strong>If our email is delivered to your Spam or Junk folder:</strong></p>
<p>Click on the box in front of our email to insert a checkmark<br>
Click the "This is not spam" button </p>
<p><strong>Add our email address to your Address Book or Friends List:</strong></p>
<p>Open your Address Book or Friends List<br>
Add our contact details as listed above<br>
Click "Add" or "Save"</p>
[newsman badge2]