<h2>Ya casi termina - ¡Active su suscripción!</h2>
<h3 style="color: #ff0000;">Acaba de serle enviado un correo electrónico que contiene un enlace de confirmación.</h3>
<p>Para activar su suscripción, consulte su correo electrónico y haga clic en el enlace en ese correo electrónico. Usted no recibirá su suscripción hasta que <strong>haga clic en ese enlace para activarlo</strong>.</p>
<p>Si usted no ve el correo electrónico en su bandeja de entrada dentro de poco, llene el formulario de nuevo para tener otra copia del mismo enviado a usted.</p>
[newsman badge2]
