<p>Esta dirección de correo electrónico ya está en nuestra lista de correo, sin embargo no ha sido confirmada. Si desea que su correo electrónico de verificación se envíe nuevamente, por favor haga <a href="[newsman link='resend-confirmation']">clic aquí</a>.</p>

<p>Para asegurarse de obtener los correos electrónicos de, siga estas sencillas instrucciones:</p>

<p>Abra su programa de correo electrónico o inicie una sesión en su servicio de correo electrónico web</p>

<p><strong>Cree un filtro que coloque a nuestros correos electrónicos en su Bandeja de entrada:</strong></p>

<p><strong>Desde:</strong> campo siempre será [newsman me="name"]<br>                  	
<strong>Dirección de correo electrónico:</strong> [newsman me="email"]</p>    
        	
<p><strong>Si nuestro email es entregado a su basura o no deseado:</strong></p>

<p>Haga clic en la casilla delante de nuestro correo electrónico para insertar una marca.<br>
Haga clic en el botón "No es spam"</p>

<p><strong>Agregue nuestra dirección de correo electrónico a su libreta de direcciones o Lista de Amigos:</strong></p>

<p>Abra la libreta de direcciones o la lista de amigos<br>
Añada nuestros datos de contacto que figuran más arriba<br>
Haga clic en "Añadir" o "Guardar"<br></p>
[newsman badge2]