<h2>Grazie per aver confermato la tua iscrizione a [newsman wp="blogname"]!</h2>
<h3>Ti è appena stato spedito un messaggio di benvenuto!</h3>
<p>Per assicurarti di ricevere correttamente le mail da [newsman me="email"], segui queste semplici linee guida:</p>
<p>Apri il tuo programma di mail oppure entra nel tuo servizio di web-mail.</p>
<p><strong>Crea un filtro per i messaggi che entrano nella tua Inbox:</strong></p>
<p><strong>Da:</strong> il campo sarà sempre: [newsman me="name"]<br />
 <strong>Indirizzo Email:</strong> [newsman me="email"]</p>
<p><strong>Se la nostra mail ti arriva nella cartella Spam o nella Posta Indesiderata:</strong></p>
<p>Selezionala o clicca sull'eventuale checkbox a fianco<br />
Clicca il bottone"Questa mail non è spam"</p>
<p><strong>Aggiungi il nostro indirizzo email alla tua Rubrica o alla tua Lista di Contatti:</strong></p>
<p>Apri la tua Rubrica o Lista di Amici<br /> 
Aggiungi il nostro contatto con i dettagli elencati sopra
<br />
Clicca "Aggiungi" o "Salva"</p>
[newsman badge2]