<h2>E' quasi fatta - Attiva la tua Iscrizione!</h2>
<h3 style="color: #ff0000;">Ti è appena stata spedita una mail con un link di conferma.</h3>
<p>Per attivare la tua iscrizione verifica se hai ricevuto la mail e clicca il link che vi è contenuto. Non ti arriverà la newslettere fino a quando non la <strong>attivi con il link di conferma</strong>.</p>
<p>Se non trovi la nostra mail entro poco tempo, torna qui e riempi di nuovo il form di iscrizione, ne riceverai un'altra copia.</p>
[newsman badge2]