<h2>Please Check Your Email to Confirm Your Subscription!</h2>
<h3 style="color:#FF0000;">We sent you an email with a link to confirm your subscription. If you do not receive it within a reasonable amount of time, please check your spam filters to ensure you are allowing emails from [newsman me="email"].</h3>
<p>To ensure that our email reaches your Inbox, and is not deleted or moved to your Junk Mail folder, add our email address [newsman me="email"] to your safe sender list by following the directions below.</p>
<p>If your email provider is not listed here, contact your email host and ask them how you can whitelist email addresses so you will get our special announcement and tip emails.</p>
<p style="margin-top: 10px;">
<h3>Yahoo Mail</h3>
</p>
<p>To create a filter that sends our emails to your Inbox:</p>
<ol>
<li>Login to Yahoo Mail.</li>
<li>Click on "Mail Options" (on the right hand side of the screen).</li>
<li>Click on "Filters" (on left hand side of the screen).</li>
<li>Click "Add" button.</li>
<li>Assign a name for this filter: "Newsletter Name".</li>
<li>Underneath the heading "if all of the following rules are true" go to the top row labeled 
"FROM header." Next to this you will see a drop down menu. Make sure to select "contains", 
then simply type in our email address [newsman me="email"] into the box provided.</li>
<li>At the bottom, where it says "Move the message to:", select "Inbox" from the drop-down menu.</li>
<li>Click the "Add Filter" button at the bottom to add this filter.</li>
</ol>
<p style="margin-top: 10px;">
<h3>MSN Hotmail</h3>
</p>
<p>To add our email address to your "Safe List":</p>
<ol>
<li>Login to your Hotmail or MSN Mail account.</li>
<li>Click on "Options."</li>
<li>Click "Junk Mail Protection".</li>
<li>Click on "Safe List."</li>
<li>In the box provided, type in our domain.</li>
<li>Click the "Add" button.</li>
<li>When you see the address you entered in the Safe List box, click on the "OK" button.</li>
</ol>
<p>To add our email address to your "Contacts List":</p>
<ol>
<li>Login to your Hotmail of MSN Mail account.</li>
<li>Click on "Contacts" folder.</li>
<li>In the new screen which opens, click "New" (upper left corner).</li>
<li>Assign a Quickname in the left hand box.</li>
<li>Enter our email address [newsman me="email"] into the "Online Addresses" area.</li>
</ol>
<p style="margin-top: 10px;">
<h3>AOL Mail</h3>
</p>
<p>To add our email address to your Address Book or Custom Sender List:</p>
<p>AOL 9.0:</p>
<ol>
<li>Click the "Spam Controls" link (lower right area of your inbox).</li>
<li>When the "Mail &amp; Spam Controls" box appears, click "Custom sender list".</li>
<li>Choose "allow email from" option</li>
<li>Add the domain/email address you would like to receive mail from.</li>
<li>Click "Add", then click "Save".</li>
</ol>
<p style="margin-top: 10px;">AOL 7 &amp; 8:</p>
<ol>
<li>Go to Keyword Mail Controls.</li>
<li>Select the screen name you are using to receive email.</li>
<li>Click "Customize Mail Controls For This Screen Name."</li>
<li>Allow/Included</li>
<ol style="padding-left: 18px;">
<li style="list-style-type: lower-alpha;">For AOL version 7.0: In the section for 
"exclusion and inclusion parameters", include the following domain: * @mysite.com</li>
<li style="list-style-type: lower-alpha;">For AOL version 8.0: Select "Allow 
email from all AOL members, email addresses and domains."</li>
</ol>
<li>Click on "Next" until the "Save" button shows up at the bottom.</li>
<li>Click "Save."</li>
</ol>
<p style="margin-top: 10px;">
<h3>Outlook 2003 Mail</h3>
</p>
<p>To make sure you can see emails as they were intended to be seen (including 
images), add our email address [newsman me="email"] to your address book and safe sender list.</p>
<p>To add our email address to your address book:</p>
<ol>
<li>Right click on the email subject line.</li>
<li>Choose "Add Sender To Address Book".</li>
</ol>
<p>To add our domain to your safe sender list:</p>
<ol>
<li>Right click on a non-displaying image in an HTML email.</li>
<li>Choose "Add the domain to the safe sender list" option.</li>
</ol>