<p>Este email já está inscrito e verificado. Se Você não esta recebendo as nossas newsletter, por favor verifique suas configurações de filtro de spam, o e-mail pode ter sido incorretamente marcada como spam e enviado para a pasta de lixo eletrônico por seu cliente de e-mail.</p>
<p>Para se certificar de que você recebera emails de[newsman me="email"], siga estas diretrizes básicas :</p>
<p>Abra o seu email.</p>
<p><strong>Crie um filtro que vai colocar os nossos e-mails em sua caixa de entrada :</strong></p>
<p> <strong>De:</strong> campo será sempre [newsman me="name"]<br>
 <strong>Endereço de email:</strong> [newsman me="email"]</p>
<p><strong>Se o nosso e-mail é enviado à sua pasta de Spam ou Lixo :</strong></p>
<p>Clique na caixa na frente do nosso e-mail para inserir um checkmark<br>
Click o "Isto não é spam " botão</p>
<p><strong>Adicione o nosso endereço de e-mail para o seu livro de endereços ou lista de amigos :</strong></p>
<p>Abra o seu livro de endereços ou lista de amigos<br>
Adicione nossos contactos conforme listado acima <br>
Clique "Add" or "Save"</p>