<h2>Obrigada por confirmar sua assinatura com [newsman wp="blogname"]!</h2>
<h3>Um email de boas vindas já está a caminho!</h3>
<p>Para se certificar de que você receberá [newsman me="email"],siga estas diretrizes básicas:</p>
<p>Abra o seu email.</p>
<p><strong>riar um filtro que vai colocar os nossos emails na sua caixa de entrada:</strong></p>
<p> <strong>De:</strong> campo será sempre [newsman me="name"]<br>
 <strong>Endereço de email:</strong> [newsman me="email"]</p>
<p><strong>Se o nosso email for para sua pasta de Spam ou Lixo:</strong></p>
<p>Clique na caixa na frente do nosso e-mail para inserir um checkmark<br>
Click o "Isto não é spam " botão</p>
<p><strong>Adicione o nosso endereço de email para o seu livro de endereços ou lista de amigos:</strong></p>
<p>Abra o seu livro de endereços ou Lista de Amigos <br>
Adicione os nossos contactos conforme listado acima <br>
Clique "Adionar" ou "Salvar"</p>