<p>Este endereço de email já está na nossa lista de assinantes, no entanto, não foi confirmada. Se você quer reenviar verificação de e-mail, por favor<a href="[newsman link='resend-confirmation']">clique aqui</a>.</p>
<p>Para se certificar de que você recebera emails de [newsman me="email"], siga estas diretrizes básicas :</p>
<p>Abra o seu email.</p>
<p><strong>Crie um filtro que vai colocar os nossos e-mails em sua caixa de entrada:</strong></p>
<p><strong>De: </strong> campo será sempre [newsman me="name"]<br>
 <strong>Endereço de email:</strong> [newsman me="email"]</p>
<p><strong>Se o nosso e-mail é a sua pasta de Spam ou Lixo :</strong></p>
<p>Clique na caixa na frente do nosso e-mail para inserir um checkmark<br>
Click o "Isto não é spam " botão</p>
<p><strong>Adicione o nosso endereço de e-mail para o seu livro de endereços ou lista de amigos:</strong></p>
<p>Abra o seu livro de endereços ou lista de amigos<br>
nossos contactos conforme listado acima <br>
Click "Adicionar" ou "Salva<br></p>