<h2>Vous avez presque fini - Activez Votre Abonnement!</h2>
<h3 style="color: #ff0000;">Nous venons de vous envoyer le message contenant un lien de confirmation.</h3>
<p>Pour activer votre abonnement, verifiez votre message de confirmation et cliquez sur le lien dans ce message. Vous ne recevrez pas nos bulletins d'information jusqu'à ce que vous <strong>cliquez sur le lien pour activer votre abonnement</strong>.</p>
<p>Si vous ne voyez pas le message de confimation dans votre boîte de réception peu de temps, remplissez le formulaire à nouveau pour avoir une autre copie envoyée à vous.</p>
[newsman badge2]