<p>Cet adresse email est déjà sur notre liste mais il n'a pas été confirmé. Si vous voulez avoir votre message de confirmation envoyé à nouveau, s'il vous plaît <a href="[newsman link='resend-confirmation']">cliquez ici</a>.</p>
<p>Pour vous assurer de recevoir les messages à partir de [newsman me="email"], suivez ces simples directives:</p>
<p>Ouvrez votre programme de messagerie ou connectez-vous à votre compte sur le service de messagerie Web.</p>
<p><strong>Créez un filtre qui placera nos messages dans votre boîte de réception:</strong></p>
<p> <strong>De qui:</strong> sera toujours [newsman me="name"]<br>
 <strong>Adresse email:</strong> [newsman me="email"]</p>
<p><strong>Si nos messages sont déplacés vers le dossier de courrier indésirable:</strong></p>
<p>Cliquez sur la case en face de notre message pour insérer une coche<br>
Cliquez sur le bouton "Ce n'est pas spam"</p>
<p><strong>Ajoutez notre adresse email à votre carnet d'adresses email ou à votre liste d'expéditeurs sûrs:</strong></p>
<p>Ouvrez votre carnet d'adresses email ou votre liste d'expéditeurs sûrs<br>
Ajoutez notre information de contact comme elle est indiquée ci-dessus<br>
Cliquez "Ajouter" ou "Sauvegarder"</p>
[newsman badge2]