<p>Diese E-Mail ist bereits registriert und verifiziert. Wenn Sie unseren Newsletter nicht erhalten, überprüfen sie bitte ihre Spam-Filter-Einstellungen. Unter Umständen wurde unser Newsletter irrtümlich als Spam identifiziert und wurde in ihren Junk-Mail-Ordner Ihres E-Mail-Client verschoben.</p>
<p>Um sicherzustellen, dass Sie E-Mails von [newsman me="email"], folgen Sie diesen einfachen Anweisungen:</p>
<p>Öffnen sie ihr email-Programm oder loggen sie sich bei ihrem web-mail-Service ein.</p>
<p><strong>Erstellen sie einen Filter, der unsere emails in ihren Posteingangsordner platziert:</strong></p>
<p> <strong>Von:</strong> Feld soll [newsman me="name"] lauten<br>
 <strong>Email-Adresse:</strong> [newsman me="email"]</p>
<p><strong>Falls unsere emails in ihrem Spam- oder Junkordner landen:</strong></p>
<p>Klicken sie auf das Kästchen vor unserer email um ein Häkchen zu setzen<br>
Klicken sie folgenden Button: "Dies ist kein Spam"</p>
<p><strong>Fügen Sie unsere E-Mail-Adresse zu Ihrem Adressbuch oder Ihrer Freunde-Liste hinzu:</strong></p>
<p>Öffnen sie ihr Adressbuch oder ihre Freunde-Liste<br>
Fügen sie unsere Kontaktdaten wie oben angeführt ein.<br>
Klicken Sie auf "hinzufügen" oder "speichern"</p>
[newsman badge2]