<h2>Sie sind fast fertig - Aktivieren Sie Ihr Abonnement!</h2>
<h3 style="color: #ff0000;">Sie haben soeben eine E-Mail gesendet, die einen Bestätigungslink enthält.</h3>
<p>Um Ihr Abonnement zu aktivieren, überprüfen Sie bitte Ihre E-Mail und klicken Sie auf den Link in dieser E-Mail. Sie erhalten solange keinen Newsletter, <strong>bis sie diesen Aktivierungslink klicken.</strong>.</p>
<p>Falls Sie unsere Bestätigungs-email nicht in Kürze erhalten, tragen sie bitte ihre email-Adresse erneut in unserem Newsletteranmeldeformular auf unserer Homepage ein.</p>
[newsman badge2]