<p>Der folgende Abonnent wurde aus unserer email-Datenbank entfernt. Weiters werden in Kürze alle diesbezüglichen Sicherungsdateien entfernt werden.</p>
<p>Email: [newsman sub="email"]</p>
<p>Falls sie weiterhin emails von unserem email-Verteilersystem erhalten sollten, teilen sie uns dies bitte über unten angeführte Kontaktdaten mit. Wir werden uns nach ihrer diesbezüglichen Mitteilung sofort um das Problem kümmern.</p>
<p>[newsman me="name"]<br>
[newsman me="email"]<br>
[newsman wp="url"]</p>
[newsman badge2]