<p>Этот адрес электронной почты уже подписан, но не подтвержден. Для отправки письма для подтверждения подписки, пожалуйста, <a href="[newsman link='resend-confirmation']">нажмите сюда</a>.</p>
<p>Чтобы гарантировать получение наших писем с [newsman me="email"], следуйте следующим инструкциям:</p>
<p>Откройте Ваш клиент электронной почты или войдите в вашу учетную запись на веб сервисе.</p>
<p><strong>Создайте фильтр для приема наших писем в ящик входящей почты:</strong></p>
<p> <strong>От кого:</strong> [newsman me="name"]<br />
 <strong>Адрес электронной почты:</strong> [newsman me="email"]</p>
<p><strong>Если наши письма попадают в папку для незапрашиваемых писем:</strong></p>
<p>Поставьте "птичку" напротив нашего письма<br />
Нажмите на кнопку "Это не спам"</p>
<p><strong>Добавьте наш адрес электронной почты в Вашу адресную книгу или список разрешенных отправителей:</strong></p>
<p>Откройте Вашу адресную книгу или список разрешенных отправителей<br />
Добавьте нашу контактную информацию, как указано выше<br />
Нажмите "Добавить" или "Сохранить"</p>
[newsman badge2]