<p>Dit emailadres is al ingeschreven en bevestigd. Als je onze nieuwsbrief niet ontvangt, check dan de Spam filter instellingen alstublieft. Het kan zijn dat de email onterecht als Spam is gemarkeerd en verplaatst is naar de Spam map of Ongewenste mail.</p>
<p>Om er zeker van te zijn dat je emails ontvangt van [newsman me="email"], volg dan deze stappen:</p>
<p>Open je mailprogramma of login op je webmail.</p>
<p><strong>Maak een filter dat de mail in je inbox bezorgt:</strong></p>
<p><strong>Van:</strong>komt altijd van [newsman me="name"]<br>
 <strong>Emailadres:</strong> [newsman me="email"]</p>
<p><strong>Als de email in je Spam of Junk map is bezorgt:</strong></p>
<p>Zet een vinkje in het vakje voor de mail<br>
Klik dan op de knop "Dit is geen Spam of Ongewenste mail</p>
<p><strong>Voeg ons emailadres toe aan het Adresboek of de Vriendelijst:</strong></p>
<p>Open je Adresboek of vriendenlijst<br>
Voeg ons als contactdetails toe zoals hierboven aangegeven.<br>
Klik "Toevoegen" of "Opslaan"<br></p>